@charset "utf-8";
/* CSS Document */
html,head,body,div,h3,h4,h5,h6,dl,dt,dd,ul,li,img,span,a,b{ margin:0px; padding:0px;}
li{ list-style:none;}
img{ border:0 none; vertical-align:baseline;}
a{ text-decoration:none; color:#777676;}
a:hover{ color:#1952c6;}
.clearfix{ *zoom:.;}
.clearfix:after{ content:"."; clear:both; display:block; visibility:hidden; height:0; font-size:0;}
body{ background:#fff; font-size:12px; font-family:"宋体";}
/*页眉*/
#header{ width:1004px; margin:0 auto; border-top:#7f7f7f 4px solid;}
.logo{ float:left; width:192px; height:47px; background:url(../images/sprite.png) no-repeat; margin:19px 0px 0px 21px;}
.headerNav{ float:right; width:772px; height:84px; border-left:#c4c4c4 1px solid; font-size:13px;}
.headerNavTips{ float:right; margin:14px 13px 10px; color:#a3a2a2;}
.headerNavTips a{ color:#a3a2a2;}
.headerNavTips a:hover{ color:#1952c6;}
.headerNavMain{ float:left; width:100%;}
.headerNavMain{ background:url(../images/sprite.png) 0 -88px repeat-x; width:100%;}
.headerNavMain li{ float:left; background:url(../images/sprite.png) 0 -47px no-repeat; width:97px; height:41px; line-height:42px; text-align:center;}
.headerNavMain li a{ color:#4d4c4c;}
.headerNavMain a:hover{ color:#1952c6;}
/*flash播放*/
#flash{ margin:0 auto; width:1004px; height:317px; margin-bottom:1px;}
/*主要内容*/
#content{ margin:0 auto; width:1004px; background:url(../images/mainBg.png) repeat-x; padding-top:28px;}
.redLine,.grayLine{ display:inline-block; height:1px; text-indent:-99em; overflow:hidden;}
.redLine{ background:red;}
.grayLine{ background:gray;}
#content h3{ position:relative; background:url(../images/sprite.png) no-repeat 0 -129px; padding-left:28px; font-size:13px; font-family:"微软雅黑"; font-weight:bold; color:#1952c6; line-height:27px;}
#content h3 b{ margin-left:17px; font-size:12px; color:#9a9a9a;}
#content h3 a{ position:absolute; color:#000;}
#content h3 a:hover{ color:#1952c6;}
/*主要内容-导航*/
.mainNav{ float:left; padding:0 0 0 2px; width:198px;}
.mainNavUl a{ display:block; background:url(../images/sprite.png) no-repeat 0 -153px; width:186px; height:24px; border:#ccc9c9 1px solid; margin-top:3px; line-height:24px; text-align:center; color:#000;}
.mainNavUl{ margin-top:10px;}
.mainNavUl a:hover{ opacity:0.8;/*不透明度，支持非IE，取值范围0-1*/ filter:alpha(opacity=80);/*不透明度，支持IE，取值范围0-100*/}
.contactUs{ border:#ccc9c9 1px solid; margin-top:4px; width:186px;}
.contactUs > img{ float:left; border:#fff 1px solid; border-right:0 none;}
.contactUs a{ float:left; border:#fff 1px solid; border-left:0 none;}
.contactWay{ margin-top:10px; line-height:26px;}
/*主要内容-中间*/
/*index*/
.indexMainCen{ float:left; width:556px; margin:0 0 31px 34px;}
.aboutUsCon{ margin-top:15px; background:url(../images/aboutUsBg.jpg) no-repeat; height:143px; width:399px; padding-left:148px; line-height:22px; text-indent:2em;}
.products{ margin-top:16px;}
.productsCon{ margin-top:19px; width:540px; overflow:hidden;}
.productsCon ul{ width:1000px;}
.productsCon li{ float:left; width:127px; line-height:26px; text-align:center; margin:0 7px 0 14px;}
.productsCon li img{ border:#d3d3d3 1px solid;}
/*主要内容-右边*/
.indexMainRight{ float:right; width:199px;}
.indexMainRight img{ border:#dadada 1px solid; margin:10px 1px 0 0;}
.indexMainRight ul{ margin-top:16px;}
.indexMainRight li{ background:url(../images/listBg.png) no-repeat; padding-left:20px; line-height:24px;}
/*company*/
.otherMainCen{ float:left; background:url(../images/companyInfBg1.png) repeat-x; width:778px; margin-left:25px; margin-top:-19px;}
.otherMainHeader{ background:url(../images/companyInfBg2.png) no-repeat; line-height:48px; padding-left:14px; margin-left:18px;}
.otherMainHeader a{ color:#000;}
.otherMainHeader a:hover{ color:#1952c6;}
.companyInfCon{ margin-left:19px;}
.companyInfCon h4{ font-size:14px; width:760px; margin-top:32px; text-align:center;}
.companyInfCon h5{ font-size:12px; width:760px; margin-top:15px; text-align:center; font-weight:normal;}
.paper{ text-align:center; margin:21px 14px 32px 0;}
.paper li{ display:inline-block; border:#b6b5b5 1px solid;text-align:center; margin-left:-2px;}
.paper a{ display:block;  color:#000; width:31px; height:20px; line-height:20px; }
.paper a:hover,.current a{color:#fff; background:#ea3724;}
/*produce*/
.produce{ float:left; margin:14px 15px 4px 22px; padding-bottom:16px; width:348px; border-bottom:#eaeaea 1px dashed;}
.produce img{ float:left; border:#d3d3d3 1px solid;}
.produce dl{ float:left; margin-left:20px;}
.produce dt{ margin-bottom:11px; line-height:26px; font-size:18px; font-family:"微软雅黑";}
.produce dd{ width:187px; line-height:22px; font-size:13px; font-family:"微软雅黑";}
/*news*/
.mainNews{ margin:9px 43px 0 19px;}
.mainNews li{ height:32px; line-height:32px; padding-top:7px; border-bottom:#9e9c9c 1px dotted;}
.mainNews a{ float:left; color:#191919;}
.mainNews span{ float:right; color:#8e8d8d;}
/*contact*/
.maincontact{ padding:9px 0 36px 22px;}
.maincontact h4{ font-size:14px; line-height:28px;}
.maincontact img{ border:#e1dddd 1px solid; margin-top:6px;}
.maincontact ul{ margin-top:11px; line-height:26px;}
/*页脚*/
#footer{ margin:0 auto; width:1004px; border-top:#e2e1e1 7px solid; padding:13px 0 19px 0; line-height:22px; text-align:center; color:#a4a2a2;}







